.link{
    font-size: 18px;
    font-weight: 500;
    margin:0 18px;
}
.active-link{
    font-size: 18px;
    font-weight: 500;
    margin:0 18px;
    color: crimson;
}
.button{
    margin-left: 9px;
    background-color: crimson;
    padding: 5px 12px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    font-weight: 500;
}