.banner-container{
    background-image: url(./Assets/Image/travelBackgournd2.jpg);
    background-position: center center;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.7);
}
.testimonial-card{
    background-color: #303841;
}
.signUp-container{
    background-image: url(./Assets/Image/travelBackground.jpg);
    background-position: center center;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.7);
}